.pat-prof-wrapper {
  width: 100%;
  height: 90vh;
}

.pat-wlc {
  position: relative;
  top: 60px;
  left: 30px;
}

.btn1,
.btn2,
.btn3 {
  position: relative;
  top: 30px;
  margin: 15px 10px 10px 10px;
  background-color: rgb(1, 102, 152);
  left: 20px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.btn1 a,
.btn2 a,
.btn3 a {
  color: white;
}

.pat-name {
  position: relative;
  top: 70px;
  left: 30px;
  color: rgb(0, 78, 118);
}

.pat-no {
  position: relative;
  top: 75px;
  left: 30px;
  color: rgb(0, 78, 118);
}

.pat-alt-no {
  position: relative;
  top: 80px;
  left: 30px;
  color: rgb(0, 78, 118);
}

.pat-gen {
  position: relative;
  top: 85px;
  left: 30px;
  color: rgb(0, 78, 118);
}

.pat-age {
  position: relative;
  top: 90px;
  left: 30px;
  color: rgb(0, 78, 118);
}

.med-hist {
  position: relative;
  top: 95px;
  left: 30px;
  color: rgb(0, 78, 118);
  font-size: 25px;
  font-weight: 600;
}
